.welcome {   
    margin-right: 250px;  
} 
             
.join-button { 
    color: orangered;   
    background-color: orangered;   
    color: white;   
    border: none;
    font-size: 30px;   
    margin-right: 600px; 
    padding: 15px 32px;  
    border-radius: 10px; 
    box-sizing: border-box; 
    text-align: left;  
    text-decoration: none; 
    display: inline-block;    
    font-style: impact;  
    font-style: bold;  
}