.home {     
    display: flex; 
    justify-content: center;   
    align-items: center;
    text-align: center;
    margin: var(--margins);
}  

.home-main {
    margin-top: 29vh;
}

.front {      
    margin-top: 15px !important;
}

.background {
    z-index: -1;
    background-image: url('../assets/images/main/home-bg.png');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}