::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}

::-webkit-scrollbar-thumb {
    background: var(--text-colour);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(207, 207, 207);
    border-radius: 10px;
}