body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: rgb(24, 24, 24);
  --bg-secondary: rgb(28, 28, 28);
  --bg-accent: rgb(32, 32, 32);
  --margins: 0 16vw 0 16vw;
  --text-colour: rgb(255, 255, 255);
  --border: 1px solid rgb(39, 39, 39);
  --border-radius: 30px;
  --speed: 500ms;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--text-colour);
  text-decoration: none;
}

h1 {
  color: var(--text-colour);
  font-size: 2.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 50px 0 50px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgb(190, 190, 190);
}

p {
  color: var(--text-colour);
  font-size: 1.2rem;
  font-family: monospace;
  text-align: start;
  margin: var(--margins);
  text-shadow: 1px 0px 1px rgb(190, 190, 190);
  line-height: 1.8rem;
}
